:root {
  /* company logo  */
  --logo-main-color: #2196f3;
  --logo-header-color: #000000;
  --logo-footer-color: #ffffff;
  /* text colors */
  --main-page-color: #212121;
  --secondary-page-color: #757575;
  --extra-page-color: #ffffff;
  --accent-color: #2196f3;
  /* background color */
  --main-bcg-color: #ffffff;
  --secondary-bcg-color: #2f303a;
  --extra-bcg-color: #f5f4fa;
  /* button color */
  --btn-bcg-main-color: #f5f4fa;
  --btn-bcg-color: #2196f3;
  --btn-text-color: #ffffff;
  /* icons style */
  --icon-fill: #afb1b8;
  --dark-border-cl: #afb1b8;
  /* hover effects */
  --hover-color: #2196f3;
  /* overlay */
  --overlay-color: rgba(33, 150, 243, 0.9);
  /* fonts */
  --main-font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --main-font-size: 16px;
  --secondary-font-size: 14px;
  /*^ animation */
  --animation-style: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: visibility var(--animation-style) 400ms, opacity var(--animation-style) 400ms;
  transition: visibility var(--animation-style) 400ms, opacity var(--animation-style) 400ms;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

body {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  color: var(--main-page-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--main-bcg-color);
}
.section--bg-gray {
  background-color: var(--extra-bcg-color);
}
.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header__contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: var(--secondary-font-size);
  font-weight: 500;
  color: var(--secondary-page-color);
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color var(--animation-style);
  transition: color var(--animation-style);
}
.header__contact-link:hover, .header__contact-link:focus {
  color: var(--hover-color);
}

.header__contact-icon {
  fill: var(--secondary-page-color);
  -webkit-transition: fill var(--animation-style);
  transition: fill var(--animation-style);
}
.header__contact-link:hover .header__contact-icon, .header__contact-link:focus .header__contact-icon {
  fill: var(--hover-color);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 93px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
  -webkit-transition: color var(--animation-style);
  transition: color var(--animation-style);
}
.nav__link--current {
  color: var(--accent-color);
}
.nav__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  content: "";
  background-color: var(--accent-color);
  border-radius: 2px;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img.jpg);
  background-repeat: no-repeat;
}

.hero-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-section__title {
  margin-top: 0;
  margin-bottom: 30px;
  width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--extra-page-color);
  text-transform: uppercase;
}

.advantages-section {
  padding-bottom: 0;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.advantages-list__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.advantages-list__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--extra-bcg-color);
  border-radius: 4px;
}

.advantages-list__title {
  margin: 0;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-list__desc {
  margin: 10px 0 0;
  padding: 0;
  font-size: var(--secondary-font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-page-color);
}

.services-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.services-section__item {
  position: relative;
}

.services-section__img {
  display: block;
}

.services-section__desc {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.services-section__text {
  height: 70px;
  margin: 0;
  padding: 27px 0;
  font-size: var(--secondary-font-size);
  font-weight: 700;
  color: var(--extra-page-color);
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.team-section__employee-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.team-section__employee-item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bcg-color);
}

.footer__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 70px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__slogan {
  margin: 0 0 20px;
  font-size: var(--secondary-font-size);
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: var(--extra-page-color);
  text-transform: uppercase;
}

.footer__media-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__subscription-block {
  margin-left: auto;
  width: 570px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: visibility var(--animation-style), opacity var(--animation-style);
  transition: visibility var(--animation-style), opacity var(--animation-style);
}

.portfolio-section__filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.logo {
  font-family: var(--secondary-font-family);
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: var(--logo-main-color);
  text-decoration: none;
}
.logo__header {
  color: var(--logo-header-color);
}
.logo__footer {
  color: var(--logo-footer-color);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 4px;
  background-color: var(--btn-bcg-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
}
.button--main {
  width: 216px;
}
.button--content-indent {
  gap: 12px;
}
.button--center {
  margin: 0 auto;
}

.employee-card {
  background-color: var(--main-bcg-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.employee-card__photo {
  display: block;
}

.employee-card__content {
  padding: 30px 0;
}

.employee-card__name {
  margin: 0 0 10px 0;
  font-size: var(--main-font-size);
  text-align: center;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.employee-card__prof {
  margin: 0 0 16px;
  text-align: center;
  line-height: 1.17;
  color: var(--secondary-page-color);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: background-color var(--animation-style);
  transition: background-color var(--animation-style);
}
.socials__link--bg-dark {
  background-color: rgba(255, 255, 255, 0.1);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--hover-color);
}

.socials__icon {
  fill: var(--icon-fill);
  -webkit-transition: fill var(--animation-style);
  transition: fill var(--animation-style);
}
.socials__icon--light {
  fill: #fff;
}
.socials__link:hover .socials__icon--transition, .socials__link:focus .socials__icon--transition {
  fill: #fff;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: solid 1px var(--dark-border-cl);
  border-radius: 4px;
  -webkit-transition: border-color var(--animation-style);
  transition: border-color var(--animation-style);
}
.clients-list__link:focus, .clients-list__link:hover {
  border-color: var(--hover-color);
}

.clients-list__logo {
  fill: var(--icon-fill);
  -webkit-transition: fill var(--animation-style);
  transition: fill var(--animation-style);
}
.clients-list__link:hover .clients-list__logo, .clients-list__link:focus .clients-list__logo {
  fill: var(--hover-color);
}

.contacts-list__link {
  font-style: normal;
  font-size: var(--secondary-font-size);
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition: color var(--animation-style);
  transition: color var(--animation-style);
}
.contacts-list__link--light-cl {
  color: var(--extra-page-color);
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-list__link--active:hover,
.contacts-list__link--active:focus {
  color: var(--hover-color);
}

.subscription-form__slogan {
  margin: 0 0 20px;
  font-size: var(--secondary-font-size);
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: var(--extra-page-color);
  text-transform: uppercase;
}

.subscription-form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.subscription-form__email-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscription-form__email-input::-webkit-input-placeholder {
  color: inherit;
}
.subscription-form__email-input::-moz-placeholder {
  color: inherit;
}
.subscription-form__email-input:-ms-input-placeholder {
  color: inherit;
}
.subscription-form__email-input::-ms-input-placeholder {
  color: inherit;
}
.subscription-form__email-input::placeholder {
  color: inherit;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--main-bcg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.modal-window--scale-trans {
  -webkit-transition: scale var(--animation-style) 350ms;
  transition: scale var(--animation-style) 350ms;
}

.modal-window__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: var(--main-bcg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill var(--animation-style);
  transition: fill var(--animation-style);
}
.modal-window__close-btn:focus, .modal-window__close-btn:hover {
  fill: var(--hover-color);
}

.backdrop.is-hidden > .modal-window {
  scale: 0;
}

.contacts-form__group-wrapper {
  margin-bottom: 20px;
}

.contacts-form__heading {
  padding: 0;
  margin: 0 0 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--main-page-color);
  text-align: center;
}

.contacts-form__label {
  position: relative;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.contacts-form__label:not(:last-child) {
  margin-bottom: 10px;
}

.contacts-form__label-text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}

.contacts-form__input {
  width: 100%;
  height: 40px;
  padding: 0 42px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--animation-style);
  transition: border-color var(--animation-style);
}
.contacts-form__input:focus {
  border: 1px solid var(--hover-color);
}
.contacts-form__input--area-padd {
  display: block;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.contacts-form__input--placeholder-cl {
  color: rgba(117, 117, 117, 0.5);
}

.contacts-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  -webkit-transition: fill var(--animation-style);
  transition: fill var(--animation-style);
}
.contacts-form__input:focus + .contacts-form__icon {
  fill: var(--hover-color);
}

.contacts-form__button {
  margin-top: 30px;
}

.acceptance-terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.acceptance-terms__checked-icon {
  opacity: 0;
  -webkit-transition: opacity var(--animation-style);
  transition: opacity var(--animation-style);
}

.acceptance-terms__checkbox:checked + .acceptance-terms__icon > .acceptance-terms__checked-icon {
  opacity: 1;
}

.acceptance-terms__checkbox:checked + .acceptance-terms__icon > .acceptance-terms__unchecked-icon {
  opacity: 0;
  -webkit-transition: opacity var(--animation-style);
  transition: opacity var(--animation-style);
}

.acceptance-terms__text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.acceptance-terms__link {
  color: var(--accent-color);
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.filter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 38px;
  padding-right: 22px;
  padding-left: 22px;
  font-size: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: inherit;
  background-color: var(--btn-bcg-main-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.filter-btn:hover, .filter-btn:focus {
  color: var(--btn-text-color);
  background-color: var(--hover-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-btn--trans-slow {
  -webkit-transition: color var(--animation-style), background-color var(--animation-style), -webkit-box-shadow var(--animation-style);
  transition: color var(--animation-style), background-color var(--animation-style), -webkit-box-shadow var(--animation-style);
  transition: box-shadow var(--animation-style), color var(--animation-style), background-color var(--animation-style);
  transition: box-shadow var(--animation-style), color var(--animation-style), background-color var(--animation-style), -webkit-box-shadow var(--animation-style);
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.projects-list__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 3);
      flex-basis: calc((100% - 90px) / 3);
  -webkit-transition: -webkit-box-shadow var(--animation-style);
  transition: -webkit-box-shadow var(--animation-style);
  transition: box-shadow var(--animation-style);
  transition: box-shadow var(--animation-style), -webkit-box-shadow var(--animation-style);
}
.projects-list__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__img-overlay {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.projects-list__img {
  display: block;
}

.projects-list__overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(calc(100% + 1px));
          transform: translateY(calc(100% + 1px));
  -webkit-transition: -webkit-transform var(--animation-style);
  transition: -webkit-transform var(--animation-style);
  transition: transform var(--animation-style);
  transition: transform var(--animation-style), -webkit-transform var(--animation-style);
}
.projects-list__item:hover .projects-list__overlay-content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects-list__overlay-text {
  margin: 0;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--extra-page-color);
}

.projects-list__card-border {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects-list__card-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-list__card-text {
  margin: 0;
  letter-spacing: 0.03em;
  line-height: 1.88;
  color: var(--secondary-page-color);
}/*# sourceMappingURL=main.css.map */