.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  // justify-content: space-between;

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}

.clients-list__item {
  flex-basis: calc((100% - 30px) / 2);
  height: 92px;

  // @media screen and (max-width: 350px) {
  //   width: 100%;
  // }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients-list__link {
  @include flex-templ(null);

  // width: 170px;
  // height: 92px;
  width: 100%;
  height: 100%;

  border: solid 1px var(--dark-border-cl);
  border-radius: 4px;

  transition: border-color var(--animation-style);

  &:focus,
  &:hover {
    border-color: var(--hover-color);
  }

  // @media screen and (min-width: 1200px) {
  //   width: 170px;
  // }
}

.clients-list__logo {
  fill: var(--icon-fill);
  transition: fill var(--animation-style);

  .clients-list__link:hover &,
  .clients-list__link:focus & {
    fill: var(--hover-color);
  }
}
