.section {
  padding: 60px 0;

  outline: 1px solid black;

  background-color: var(--main-bcg-color);

  &--bg-gray {
    background-color: var(--extra-bcg-color);
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;

    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
