.section {
    padding-top: 94px;
    padding-bottom: 94px;
    
    background-color: var(--main-bcg-color);
    
    &--bg-gray {
            background-color: var(--extra-bcg-color);
        }
    
    &__title {
        margin-top: 0;
        margin-bottom: 50px;
    
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: center;
    }
}
