.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bcg-color);
}

.footer__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;

  @media screen and(min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    // gap: 70px;

    padding-left: 61px;
    padding-right: 74px;
  }

  @media screen and(min-width: 1200px) {
    justify-content: flex-start;
    align-items: baseline;
    gap: 70px;

    padding-left: 0;
    padding-right: 0;
  }
}

.footer__contacts-block {
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__slogan {
  margin: 0 0 20px;

  font-size: var(--secondary-font-size);
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: var(--extra-page-color);

  text-transform: uppercase;
}

.footer__media-block {
  display: flex;
  flex-direction: column;

  text-align: center;

  @media screen and(min-width: 768px) {
    max-width: 232px;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer__subscription-block {
  width: 100%;

  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    width: 570px;

    text-align: left;
  }
}
