.hero-section {
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  max-width: 1600px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero-img-s-@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-img-s-@2x.jpg");
  }

  @media (min-width: 481px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-m-@1x.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/hero-m-@2x.jpg");
    }
  }

  @media (min-width: 789px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-L-@1x.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/hero-L-@2x.jpg");
    }
  }

  @media screen and(min-width:1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
    max-width: 1600px;
  }
}

.hero-section__content {
  @include flex-templ(null);
  flex-direction: column;
}

.hero-section__title {
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 360px;

  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;

  color: var(--extra-page-color);
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    max-width: 696px;

    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
  }
}
