.services-section__list {
  display: flex;
  column-gap: 30px;
}

.services-section__item {
  position: relative;
}

.services-section__img {
  display: block;
}

.services-section__desc {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);
}

.services-section__text {
  height: 70px;
  margin: 0;
  padding: 27px 0;

  font-size: var(--secondary-font-size);
  font-weight: 700;
  color: var(--extra-page-color);
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;

  text-transform: uppercase;
  text-align: center;
}
